<section id="contact" class="container mx-10 px-[15px] sm:px-[15px] items-center margin-top">
  <div class="flex justify-center my-20">
      <div class="flex flex-col">
          <p class="text-xxl title mb-5 text-center">Connect with us</p>
          <p class="subtle mb-5">Schedule a quick call to learn how Area can turn your regional data into a powerful advantage.</p>
          <button class="btn btn-primary inline-flex items-center justify-center px-5 py-3 mt-3">
              Learn More
          </button>
      </div>
  </div>
</section>
