<section id="howto" class="container mx-10 px-[15px] sm:px-[15px] pb-8 sm:pb-12">
    <div class="flex justify-between">
        <div><p class="text-xxl title mb-7 text-center">Map Your Success</p></div>

        <div><a class="btn mt-4" href="#contact">Discover More</a></div>
    </div>

    <div class="margin-top mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-y-16 gap-x-12 mt-10">
            <article>
                <div class="text-gray-400/90 font-light leading-none tracking-tight
                  text-[96px] sm:text-[120px] lg:text-[80px] select-none">
                    01
                </div>
                <h3 class="mt-6 text-base font-semibold title">Get Started</h3>
                <p class="mt-2 text-sm text-gray-500 max-w-xs">
                    With our intuitive setup, you’re up and running in minutes.
                </p>
            </article>

            <article>
                <div class="text-gray-400/90 font-light leading-none tracking-tight
                  text-[96px] sm:text-[120px] lg:text-[80px] select-none">
                    02
                </div>
                <h3 class="mt-6 text-base font-semibold title">Customize and Configure</h3>
                <p class="mt-2 text-sm text-gray-500 max-w-xs">
                    Adapt Area to your specific requirements and preferences.
                </p>
            </article>

            <article>
                <div class="text-gray-400/90 font-light leading-none tracking-tight
                  text-[96px] sm:text-[120px] lg:text-[80px] select-none">
                    03
                </div>
                <h3 class="mt-6 text-base font-semibold title">Grow Your Business</h3>
                <p class="mt-2 text-sm text-gray-500 max-w-xs">
                    Make informed decisions to exceed your goals.
                </p>
            </article>

        </div>
    </div>

    <div class="mt-30 flex justify-center">
        <figure class="w-full max-w-[1500px]">
            <img
                    loading="lazy"
                    src="https://plugin-value-scrum.figma.site/_assets/v11/de5a74711b655d5394631256a2e65f4f4b7e3f42.png?w=2048"
                    alt=""
                    class="rounded-[30px] w-full
             h-[420px] sm:h-[560px] md:h-[640px] lg:h-[789.382px]
             object-cover object-center"
            />
        </figure>
    </div>



</section>
